<h1><%= @place["name"] %></h1>

<p>
    <button class="btn btn-primary" onclick="location.href='/posts/new?place_id=<%= @place["id"] %>'">New Post</button>
</p>

<% for post in @posts %>
  <h3><%= post["title"] %></h3>
  <h6><%= post["posted_on"] %></h6>
  <p><%= post["description"] %></p>
<% end %>

<p>
    <button class="btn btn-primary" onclick="location.href='/places'">Back to All Places</button>
</p>